<div class="container">
<h1>Create new plant for <%= @garden.name %></h1>

<%= simple_form_for [@garden, @plant] do |f| %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.submit "Add Plant" %>
<% end %>
</div>